@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
html, body, #game-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
  font-family: 'Space Mono', monospace;
}
#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
